<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>isunil_sky_dark.png</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>328</integer>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1016</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>isunil_sky_friendly.png</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1016</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
	</dict>
</dict>
</plist>